doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Welcome to Amidarh
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Tenali+Ramakrishna&display=swap" rel="stylesheet")
  body(style="font-family: 'Kodchasan', sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;")
    table(role="presentation", cellspacing="0", cellpadding="0", border="0", align="center", width="600", style="margin: auto; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 5px; margin-top: 20px;")
      tr
        td(style="padding: 20px; text-align: center;")
          //- img(src="https://your-company-logo-url.png", alt="Company Logo", style="max-width: 100px; height: auto;")
          h2(style="color:#05051B; font-size:1.7rem;") Amidarh
      tr
        td(style="padding: 20px; text-align: center")
          h2(style="color: #333;") Welcome to Amidarh
          p(style="color: #555; font-size: 16px; line-height: 1.6;") Thank you for choosing Amidarh! You&apos;re just a step away from unlocking a world of possibilities for educational success.
          p(style="color: #555; font-size: 16px; line-height: 1.6;") Please verify your email address with the code below:
      tr
        td(style="padding: 20px; text-align: center;")
            h1(style="color: #333; font-size: 36px; margin: 0;") #{code}
      tr
        td(style="padding: 20px;")
          h3(style="color: #05051B;") Why Choose Amidarh?
          ul(style="color: #555; font-size: 16px; line-height: 1.6;")
            li Amidarh aims to change the way we learn,
            li Amidarh primary goal is to enhance education with technology.
      tr
        td(style="padding: 20px;")
          p(style="color: #555; font-size: 16px; line-height: 1.6;") If you did not sign up for an account, please disregard this email.
      tr
        td(style="padding: 20px; text-align: center; background-color: #f8f8f8;")
          p(style="color: #777;") Sent with ❤️ from  Amidarh
